################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoveValidator.sln
/MoveValidator.pyproj
/validator.pyc
/pieces.pyc
/moveinterpreter.pyc
/boardstate.pyc
